.env
utils/
.DS_Store
db.sqlite3
videoPosts/
photoPosts/
photosUsers/
resetPassword/
credentials.json
socialNetwork/__pycache__
socialNetwork/static
logAndReg/__pycache__
logAndReg/tests.py
logAndReg/migrations
chat/tests.py
chat/__pycache__
chat/migrations
postsUsers/migrations/
postsUsers/__pycache__/
photosUsers/tests.py
commantPost/__pycache__
commantPost/migratio:ns
commantPost/tests.py