.DS_Store
db.sqlite3
socialNetwork/__pycache__
logAndReg/__pycache__
credentials.json
templates/passwordReset
logAndReg/admin.py
models.py
logAndReg/tests.py
logAndReg/migrations
chat/admin.py
models.py
chat/tests.py
chat/__pycache__
chat/migrations
utils/
.env